<%- include('../commons/nav.ejs')%>
	<div class="container">
		
		<h1 class="text-center mt-5 mb-0">Update <%= examType.type %> exam type <a onclick="$('#examType_delete_form').submit()" class="text-danger" href="#"><i class="fa fa-trash"></i></a></h1>
		<div class="line mt-1 mb-3"></div>
		<form style="display: none" id="examType_delete_form" action="/hrs/exam-types/<%= examType.id %>?_method=DELETE" method="post">
		</form>
		<form action="/hrs/exam-types/<%= examType.id %>?_method=PUT" method="post" onsubmit="return validateExamTypeForm(this);" enctype="application/x-www-form-urlencoded">
			<%
			if(old.length) { %>
				<input value="<%= old[0] %>" type="text" name="type" class="form-control" id="type" placeholder="Enter exam type">
			<% } else { %>
				<input value="<%= examType.type %>" type="text" name="type" class="form-control" id="type" placeholder="Enter exam type">
			<% } %>
		  	<button class="btn btn-primary mb-3" type="submit">Submit</button>

			<%
			if(errors) {
				for(var i in errors) { %>
					<div class="alert alert-danger" role="alert"><%= errors[i] %></div>
			<%	}
			}
			%>
		</form>
	</div>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="/js/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" integrity="sha256-qM7QTJSlvtPSxVRjVWNM2OfTAz/3k5ovHOKmKXuYMO4=" crossorigin="anonymous"></script>
	<script src="/js/main.js"></script>
	<script src="/js/exam-types.js"></script>
</body>
</html>